.gallery{
  background-color: $color-gray-light-1;
  // grid-column: full-start/ full-end;
  grid-area: gallery;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;

  &__item{
    width: 100%;

    &--1, &--4{
      grid-column: span 2;
      grid-row: span 2;
    }

    &--2, &--13{
      grid-column: span 3;
      grid-row: span 3;
    }
    
    &--3, &--14{
      grid-row: span 2;
    }
    
    &--5{
      grid-column: span 2;
      grid-row: span 3;
    }
   
    &--6{
      grid-column: 3 / span 2;
      grid-row: span 2;
    }
   
    &--8{
      grid-column: 6 / span 2;
      grid-row: 3 / span 2;
    }

    &--9{
     grid-row: 3 / span 3;
     grid-column: 8;
    }

    &--10{
     grid-row: 6 / span 2;
    }
    
    &--11{
     grid-row: 6 / span 2;
     grid-column: span 2;
    }

    &--12{
     grid-row: 6 / span 2;
    }
  }
  
  &__img{
    display: block;
    width: 100%;
    // set the height to 100% for object-fit to work
    height: 100%;
    object-fit: cover;
  }
}